$break-point-smobile: 319px;
$break-point-mobile: 425px;
$break-point-exmobile: 426px;
$break-point-tablet: 768px;
$break-point-xtablet: 769px;
$break-point-miniLaptop: 1024px;

@mixin mobile() {
  @media only screen and (max-width: $break-point-mobile) {
    @content;
  }
}
@mixin tablet() {
  @media only screen and (min-width: $break-point-exmobile) and (max-width: $break-point-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin largeDesktop {
  @media (min-width: 1300px) {
    @content;
  }
}
