@import './../../../Assets/styles/breakpoint';

.students {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    /* 60px header + 20px footer = 80px  */
    .more {
      display: flex;
      flex-direction: column;

      .heading {
        padding: 2rem 20px 0;
        font-size: 30px;
        font-weight: bolder;
        margin: 0 auto;

        @include tablet {
          font-size: 25px;
        }

        @include mobile {
          font-size: 23px;
        }
      }

      hr {
        width: 10rem;
        border-width: 0.2rem;
        border-color: #cdd3f7;

        @include tablet {
          width: 7rem;
          border-width: 0.2rem;
        }

        @include mobile {
          width: 6rem;
          border-width: 0.2rem;
        }
      }
    }

    .wraploader {
      background: #00000071;
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;

      .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: 0 auto;
        z-index: 9999;
      }
    }

    #around {
      margin: 0 20rem;

      @include mobile {
        margin: 0;
      }
      @include tablet {
        margin: 0 3rem;
      }
    }
  }

}