@import '../../Assets/styles/breakpoint';

.notify {
  position: fixed;
  top: 0;
  right: 15px;

  display: flex;
  flex-direction: column;
  z-index: 9999999;
  @include mobile {
    right: 10px;
    font-size: 14px;
  }
  @include tablet {
    right: 30px;
  }
}

.notifyItem {
  margin: 10px;
  min-width: 300px;
  max-width: 500px;
  border-radius: 5px;
  background: white;
  height: 100%;
  display: flex;
  box-shadow: 0px 0px 8px 2px rgba(black, 0.3);
  color: grey;
  position: relative;

  animation: slide 1s ease-in-out;

  .close {
    position: absolute;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border: 1px solid #ccc;
    top: calc(50% - 15px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      box-shadow: 0px 0px 1px 1px #ccc;
    }
  }
  .img {
    width: 70px;
    min-width: 70px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3d58f5;
    border-radius: 5px 0 0 5px;

    svg {
      width: 50%;
      opacity: 0.8;
      height: 50%;
      color: white;
    }
  }

  .body {
    margin: 5px 25px 5px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    span {
      font-weight: bold;
      text-transform: capitalize;
      color: #3d58f5;
    }
    p {
      margin: 5px 0;
    }
  }

  &.error {
    .img {
      background: red;
    }

    .body {
      div {
        span {
          color: red;
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(500px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes out {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(500px);
  }
}
