@import '../../../Assets/styles/breakpoint';

.detail {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    background: #ebebf7;
    padding: 3rem;

    @include mobile {
      padding: 1rem;
    }

    .top {
      display: flex;
      justify-content: space-evenly;

      @include mobile {
        flex-direction: column;
      }

      .student {
        padding-left: 4rem;

        @include tablet {
          padding-left: 0;
        }

        @include mobile {
          padding-left: 2rem;
        }

        h1 {
          font-size: 35px;
          color: #939394;
          margin-top: 7px;

          @include tablet {
            font-size: 28px;
          }

          @include mobile {
            font-size: 25px;
          }
        }

        p {
          color: #5b73ff;
          font-weight: bold;

          @include tablet {
            font-size: 12px;
          }

          @include mobile {
            font-size: 12px;
          }
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 5px 10px;
        margin-right: 4rem;
        border-radius: 8px;
        box-shadow: 8px 10px 5px #cdd3f7;

        @include tablet {
          margin-right: 0;
        }

        @include mobile {
          flex-direction: row;
          padding: 10px;
          margin-right: 0;
          margin-left: 2rem;
          width: 55vw;
        }

        .numb {
          font-weight: bolder;
          font-size: 30px;
          margin: 0 auto;
          color: #5b73ff;

          @include tablet {
            font-size: 25px;
          }

          @include mobile {
            margin: 0;
          }
        }

        .text {
          font-size: 12px;
          font-weight: bold;
          color: #939394;
          margin-bottom: 0;

          @include tablet {
            font-size: 10px;
          }

          @include mobile {
            margin: 12px 0 0 20px;
            font-size: 15px;
          }
        }
      }
    }

    .course {
      display: flex;
      flex-direction: column;
      background: white;
      margin: 2rem 12rem;
      border-radius: 20px;
      padding: 20px;

      @include tablet {
        margin: 2rem 1rem;
      }

      @include mobile {
        margin: 2rem 1px;
        padding: 20px 10px;
      }

      .head {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;

        .act {
          font-weight: bolder;
          color: #7f92fa;
          margin-top: 4px;

          @include tablet {
            font-size: 14px;
          }

          @include mobile {
            font-size: 14px;
          }
        }

        .buton {
          border: 2px solid #7f92fa;
          background: transparent;
          padding: 6px 15px;
          border-radius: 20px;
          color: #7f92fa;

          &:hover {
            font-weight: bolder;
          }

          @include tablet {
            font-size: 14px;
          }

          @include mobile {
            font-size: 14px;
          }
        }
      }
    }
    .wraploader {
      background: #00000071;
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;

      .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: 0 auto;
        z-index: 9999;
      }
    }
  }
}